*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: url(./img/broadscope-2.jpg);
  background-size: cover;
  background-position-y: -730px, 0px;
}
