*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  background: url(./img/broadscope-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -700px, 0px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  background-color: hsla(220, 50%, 50%, 0.5);
}

.logo {
  padding: 20px 10px;
  font-size: 1.6rem;
  cursor: pointer;
}
.navbarUl {
  display: flex;
}

.item {
  list-style-type: none;
  padding: 20px 10px;
  font-size: 1.6rem;
}

.item:hover {
  background-color: hsla(220, 50%, 70%);
}

a {
  text-decoration: none;
}

.footer {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 15px;
  font-size: 1.3rem;
  color: white;
}